*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.back{
    background-image: linear-gradient(#FFF67E,#FFF67E,#FFF67E,#FFF67E,#FFF67E,#FFF67E);
}
.cack{
    background-image: linear-gradient(#FFF67E,#FFF67E,#416D19);
}
.goods{
    background-image: linear-gradient(#FFF67E);
}
.goods_one{
    background-image: linear-gradient(#416D19);
}
